<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.app.rgs.com.raidergrader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.student.EnrollmentActivity"
            android:label="@string/title_activity_enrollment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.student.StudentClassListActivity"
            android:label="@string/title_activity_student_class_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.student.EnrollmentConfirmationActivity"
            android:label="@string/title_activity_enrollment_confirmation" />
        <activity android:name=".activities.student.StudentClassItemsActivity"/>
        <activity android:name=".activities.student.StudentWorkItemListActivity"/>
        <activity android:name=".activities.student.StudentWorkItemDetailActivity"/>
        <activity android:name=".activities.student.StudentAnnouncementListActivity"/>
        <activity android:name=".activities.student.StudentAnnouncementDetailActivity"/>
        <activity android:name=".activities.teacher.TeacherClassHomeActivity"/>
        <activity android:name=".activities.teacher.TeacherClassItemsActivity"/>
        <activity android:name=".activities.teacher.TeacherCreateClassActivity"/>
        <activity android:name=".activities.teacher.TeacherUpdateClassActivity"/>
        <activity android:name=".activities.teacher.TeacherStudentItemsActivity"/>
        <activity android:name=".activities.teacher.TeacherClassWaitListActivity"/>
        <activity android:name=".activities.teacher.TeacherClassAcceptedStudentsActivity"/>
        <activity android:name=".activities.teacher.TeacherWorkItemListActivity"/>
        <activity android:name=".activities.teacher.TeacherCreateWorkItemActivity"/>
        <activity android:name=".activities.teacher.TeacherWorkItemDetailActivity"/>
        <activity android:name=".activities.teacher.TeacherUpdateWorkItemActivity"/>
        <activity android:name=".activities.teacher.TeacherGradeWorkItemActivity"/>
        <activity android:name=".activities.teacher.TeacherAnnouncementListActivity"/>
        <activity android:name=".activities.teacher.TeacherCreateAnnouncementActivity"/>
        <activity android:name=".activities.teacher.TeacherAnnouncementDetailActivity"/>
        <activity android:name=".activities.teacher.TeacherUpdateAnnouncementActivity"/>
        <activity android:name=".activities.teacher.TeacherStudentDetailActivity"/>
    </application>

</manifest>
