<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.app.rgs.com.raidergrader" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.student.EnrollmentActivity"
            android:label="@string/title_activity_enrollment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivitySelector"
            android:label="@string/title_activity_activity_selector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.student.StudentClassListActivity"
            android:label="@string/title_activity_student_class_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.student.EnrollmentConfirmationActivity"
            android:label="@string/title_activity_enrollment_confirmation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.student.StudentClassItemsActivity"
            android:label="@string/title_activity_student_class_item"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.student.StudentWorkItemListActivity"
            android:label="@string/title_activity_student_work_item_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.student.StudentWorkItemDetailActivity"
            android:label="@string/title_activity_student_work_item_list_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.student.StudentAnnouncementListActivity"
            android:label="@string/title_activity_student_announcement_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.student.StudentAnnouncementDetailActivity"
            android:label="@string/title_activity_student_announcement_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherClassHomeActivity"
            android:label="@string/title_activity_teacher_class_home"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherClassItemsActivity"
            android:label="@string/title_activity_teacher_class_item"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherCreateClassActivity"
            android:label="@string/title_activity_teacher_create_class"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherUpdateClassActivity"
            android:label="@string/title_activity_teacher_update_class"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherStudentItemsActivity"
            android:label="@string/title_activity_teacher_student_item"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherClassWaitlistActivity"
            android:label="@string/title_activity_teacher_class_waitlist"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherClassAcceptedStudentsActivity"
            android:label="@string/title_activity_teacher_class_accepted_student"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherWorkItemListActivity"
            android:label="@string/title_activity_teacher_work_item_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherCreateWorkItemActivity"
            android:label="@string/title_activity_teacher_create_work_item"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherWorkItemDetailActivity"
            android:label="@string/title_activity_teacher_work_item_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherUpdateWorkItemActivity"
            android:label="@string/title_activity_teacher_update_work_item"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherGradeWorkItemActivity"
            android:label="@string/title_activity_teacher_grade_work_item"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherAnnouncementListActivity"
            android:label="@string/title_activity_teacher_announcement_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherCreateAnnouncementActivity"
            android:label="@string/title_activity_teacher_create_announcement"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherAnnouncementDetailActivity"
            android:label="@string/title_activity_teacher_announcement_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherUpdateAnnouncementActivity"
            android:label="@string/title_activity_teacher_update_announcement"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.teacher.TeacherStudentDetailActivity"
            android:label="@string/title_activity_teacher_student_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
