<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.app.rgs.com.raidergrader" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activities.EnrollmentActivity"
            android:label="@string/title_activity_enrollment"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activities.ActivitySelector"
            android:label="@string/title_activity_activity_selector"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StudentClassListActivity"
            android:label="@string/title_activity_student_class_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
